<% content_for :page_title, "Index" %>

<section class="section">
    <div class="container">
        <% @post.each do |p| %>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"><%= p.title %></p>
                        </div>    
                    </div>
                    <div class="content"> 
                        <%= p.content %>
                    </div>
                    <div class="content">
                    <%= link_to "Read more", p , :class => "button is-primary" %>
                    </div>  
                </div>   
            </div>
             
        <% end %>
       
    </div>
</section>    